@{
    
    
}
<h2>O nama: </h2>
<h3>Na izradi ove stranice radili su:</h3>
<h1></h1>
<h4>Ivan Seguljev 265/16</h4>
<h4>Nemanja Zivanovic 68/16</h4>
<h4>Katarina Jovanic 75/16</h4>
<h4>Djuro Sarac 87/16</h4>
<h4>Stefan Vukoicic 67/16</h4>
<h1></h1>
<img src="~/Images/ITS.png" style="border:2px solid;border-color:darkblue; padding:20px;"/>

